.row img {
    padding-top: 50px;
    width: 70%;
    height: fit-content;
    object-fit: cover;
  }

  .beauty-container .short-image {
    height: 635px !important;
  }


  h3 {
    text-align: center;
    margin-left: -160px !important;
  }

  .post {
    margin-left: 120px;
  }

  .post h1, h2{
     margin-top: 10px;
  }

  .images img {
   margin-top: 10px;
   margin-bottom: 10px;
  }