h4 {
  margin-top: 10px !important;
}

.fashion-container {
    margin-top: 50px;
  }
  
  .fashion-container .shorter-image {
    height: 650px !important;
  }
  
  .fashion-container .short-image {
    height: 592px !important;
  }