.buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 30px; /* Space between the buttons */
}

.signup-button,
  .login-button {
   width: 20%;
   gap: 10px;
  }
  
  .signup-button, .login-button {
    padding: 4px 4px;
    border: none;
    background-color: #E7F0DC !important;
    border-radius: 5px;
    text-align: center;
  }
  
 

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);   
    gap: -10px !important;
    padding: 20px; 
  }
  
  .grid-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .brand-name {
    background-color: #D8D2C2;
    width: 100%;
    padding: 20px;
  }
  
  .brand-name h1{
    text-align: start;
    margin-left: 5px;
    padding-top: 30px;
  }
  
  .brand-name h5 {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 1rem;
  }
