.lifestyle-container {
    margin-top: 50px;
  }
  
  .lifestyle-container .short-image {
    height: 560px !important;
  } 

  .post {
    margin-left: 130px;
  }

  .post h1, h2{
    text-align: center;
    margin-right: 180px !important;
    margin-top: 10px;
  }